@model IEnumerable<ProductListResponse>
<form action="/Home/PartialAddComment/" method="post">
    
                                    <div class="form-group">
                                        <label for="message">Your Review *</label>
                                        <textarea id="message" name="CommentContent" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Title *</label>
                                        <input type="text" name="CommentTitle" class="form-control" id="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Your Name *</label>
                                        <input type="text" name="CommentUserName" class="form-control" id="name">
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit"  value="Leave Your Review" class="btn btn-primary px-3 ">
                                    </div>
                                </form>
      