@model List<CommentListResponse>
<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">
        <div class="col-md-6">
            @foreach (var item in Model)
            {
                <h4 class="mb-4">@item.CommentTitle</h4>
                <div class="media mb-4">
                
                    <div class="media-body">
                        <h6>@item.CommentUserName<small> - <i>@item.CommentDate</i></small></h6>


                        <p>@item.CommentContent</p>
                    </div>
                </div>

            }
        </div>
    </div>

